*.c
*.cpp
*.egg
*.gz
*.nix
*.py[cod]
*.so
*~
.coverage
.idea/
.mypy_cache
.project
.pydevproject
.settings
.vscode
/.cache
/.python-version
/Mathics_Django.egg-info
/node_modules
/package-lock.json
ChangeLog
Documents/
Homepage/
Mathics.egg-info/
Test/
_Copies_/
_Database_/
build/
dist/
env/
mathics_django/Makefile
mathics_django/web/db/mathics.sqlite
mathics_django/web/media/doc/classes.pdf
mathics_django/web/media/doc/classes.png
mathics_django/web/media/pdf/
tmp
venv/
