default_language_version:
  python: python
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-merge-conflict
    - id: debug-statements
      stages: [pre-commit]
      exclude: ChangeLog-spell-corrected.diff
    - id: end-of-file-fixer
      exclude: ChangeLog-spell-corrected.diff
      stages: [pre-commit]
-   repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        stages: [pre-commit]
-   repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
    - id: black
      exclude: 'mathics_django/version.py'
      language_version: python3
      stages: [commit]
