include CHANGES.rst
include COPYING.txt
include ChangeLog
include FUTURE.rst
include Makefile
include README.rst
include mathics_django/Makefile
include requirements-full.txt
recursive-include mathics_django *.py
recursive-include mathics_django/autoload *.m
recursive-include test *.py
