{% extends "base_html.html" %}
{% load static %}

{% block title %}Mathics Installation Information{% endblock %}

{% block html_head %}
{% endblock %}

{% block html_body %}

<header>
<div id="headerleft">
  <a href="https://mathics.org">
    <img id="logo" class="load" src="{% static 'img/logo-heptatom.svg' %}" height="32" alt="Logo" />
    <img id="logotext" class="load" src="{% static 'img/logo-text.svg' %}" height="26" alt="Mathics" />
  </a>

  <!-- worksheet controls are not wanted here ->
  <!--
  <div class="menu">
    <a href="javascript:showOpen()" title="Open Worksheet"><i class="fa fa-file-text"></i></a>
    <a href="javascript:showSave()" title="Save Worksheet"><i class="fa fa-download"></i></a>
    <a href="javascript:createLink()" title="Generate Worksheet Input Hash"><i class="fa fa-share-alt"></i></a>
  </div>
  -->
</div>
</header>

{% block main %}

<div id="about">

  <h1> Version information </h1>

  <p>
    <ul>
      <li>Django: {{django_version}}</li>
      <li>three.js: {{three_js_version}}</li>
      <li>MathJax: {{MathJax_version}}</li>
      <li>Mathics: {{mathics_version}}</li>
      <li>Mathics Django: {{mathics_django_version}}</li>
      <li>mpmath: {{mpmath_version}}</li>
      <li>Numpy: {{numpy_version}}</li>
      <li>Python: {{python_version}}</li>
      <li>Sympy: {{sympy_version}}</li>
    </ul>
  </p>
</div>


{% endblock main %}
{% endblock html_body %}
