{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=480" />
	<!-- make page fit nicer in iOS -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/documentation.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/message.css' %}" />
	<link rel="stylesheet" type="text/css" media="print" href="{% static 'css/styles_print.css' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}" />
	<link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static 'img/favicons/favicon-16x16.png' %}" sizes="16x16" />
	<link rel="manifest" href="{% static 'img/favicons/manifest.json' %}" />
	<link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#333333" />
	<link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" />
	<meta name="msapplication-config" content="{% static 'img/favicons/browserconfig.xml' %}" />

	<!--[if lte IE 9]>
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles_ie.css' %}" />
	<![endif]-->

	<script type="text/javascript" src="{% static 'js/prototype/prototype.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/mathjax/MathJax.js' %}?config=MML_HTMLorMML&amp;delayStartupUntil=configured"></script>

	<script type="text/javascript" src="{% static 'js/message.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/authentication.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/inout.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mathics.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mathics-threejs-backend/index.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/doc.js' %}"></script>

	{% block html_head %}
	{% endblock %}
</head>

<body>
	{% block html_body %}
	{% endblock %}

	<div style="white-space: nowrap;" id="calc_all">
		<span class="calc_container" style="font-size: 0.90em; font-family: default;"></span><span class="calc_next">
		</span><br />
		<span class="calc_below"> </span>
	</div>
</body>

</html>